/*
Syntax error: File to import not found or unreadable: foundation.
              Load paths:
                /Applications/MAMP/htdocs/adobe/github/sass
                /Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets
                Compass::SpriteImporter
        on line 8 of /Applications/MAMP/htdocs/adobe/github/sass/app.scss

Backtrace:
/Applications/MAMP/htdocs/adobe/github/sass/app.scss:8
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.10/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.10/lib/sass/tree/import_node.rb:45:in `import'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.10/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.10/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.10/lib/sass/tree/root_node.rb:20:in `render'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.10/lib/sass/engine.rb:262:in `render'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:146:in `block (2 levels) in compile'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:132:in `timed'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:145:in `block in compile'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/lib/compass/logger.rb:46:in `red'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:144:in `compile'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:124:in `compile_if_required'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:109:in `block (2 levels) in run'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:107:in `each'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:107:in `block in run'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:132:in `timed'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:106:in `run'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/lib/compass/watcher/compiler.rb:24:in `compile'
/Users/chouard/.rvm/rubies/ruby-2.0.0-p195/lib/ruby/2.0.0/forwardable.rb:171:in `compile'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:92:in `sass_modified'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:85:in `sass_callback'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/lib/compass/watcher/watch.rb:17:in `call'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/lib/compass/watcher/watch.rb:17:in `run_callback'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:78:in `block (2 levels) in listen_callback'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:77:in `each'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:77:in `block in listen_callback'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:76:in `each'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:76:in `listen_callback'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/listen-0.7.3/lib/listen/listener.rb:212:in `call'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/listen-0.7.3/lib/listen/listener.rb:212:in `on_change'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/listen-0.7.3/lib/listen/listener.rb:221:in `block in initialize_adapter'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `call'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `report_changes'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/listen-0.7.3/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: foundation.\A               Load paths:\A                 /Applications/MAMP/htdocs/adobe/github/sass\A                 /Users/chouard/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets\A                 Compass::SpriteImporter\A         on line 8 of /Applications/MAMP/htdocs/adobe/github/sass/app.scss"; }
