<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Adobe Contributor License Agreement</title>
    <link rel="stylesheet" href="stylesheets/clastyles.css" />
    <link href="stylesheets/app.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--
    <div class="menu" data-magellan-expedition="fixed">
        <div class="row">
            <div class="large-12 columns">
                <dl class="sub-nav" ng-class="{mobile: mobile}">
                    <a class="menu-icon" ng-click="expandMenu()">
                        <span></span>
  </a>

                    <dd class="title">
                        <strong>Adobe</strong> Open Source
                    </dd>
                    <div class="menuLinks" ng-class="{more: menuOpen}">
                        <dd class="head-base"><a href="/#statistics" ng-click="menuOpen = false">Statistics</a></dd>
                        <dd class="head-base"><a href="/#projects" ng-click="menuOpen = false">Repositories</a></dd>
                        <dd class="head-base"><a href="/#organizations" ng-click="menuOpen = false">Organizations</a></dd>
                        <dd class="head-base"><a href="cla.html">CLA</a></dd>
                    </div>
                </dl>

                <div class="wrapLogoTop">
                    <img class="logoTop" src="img/Adobe-tag.png" title="Adobe Open Source"/>
                </div>
            </div>
        </div>
    </div>
-->

    <div class="menu" data-magellan-expedition="fixed">
      <div class="row">
        <div class="large-12 columns">
          <dl class="sub-nav" ng-class="{mobile: mobile}">
            <a class="menu-icon" ng-click="expandMenu()">
              <span></span>
            </a>

            <dd class="title"><strong>Adobe</strong> Open Source</dd>
            <div class="menuLinks" ng-class="{more: menuOpen}">
              <br />
              <dd class="head-base">
                <a href="#statistics" ng-click="menuOpen = false">Statistics</a>
              </dd>
              <dd class="head-base">
                <a href="#projects" ng-click="menuOpen = false">Repositories</a>
              </dd>
              <dd class="head-base">
                <a href="#organizations" ng-click="menuOpen = false"
                  >Organizations</a
                >
              </dd>
              <dd class="head-base">
                <a href="cla.html" ng-click="menuOpen">CLA</a>
              </dd>
            </div>
          </dl>

          <div class="wrapLogoTop">
            <img
              class="logoTop"
              src="img/Adobe-Tag-Logo.png"
              title="Adobe Open Source"
            />
          </div>
        </div>
      </div>
    </div>

    <iframe
      src="https://adobe.na1.documents.adobe.com/public/esignWidget?wid=CBFCIBAA3AAABLblqZhCSt6j3rlOsjJYtaVDbSFP8yMe0S67pjh2eTmCguy2UX6WxVS5h4bt6Wzs6-HcCTLM*&hosted=false"
      width="100%"
      height="100%"
      frameborder="0"
      style="border: 0; overflow: hidden; min-height: 500px; min-width: 600px;"
    ></iframe>
  </body>
</html>
