<div class="filters" ng-class="{flat: !toggleFilters}">
    <div class="row">
        <form class="custom large-12 columns mainFilters">
            <div class="large-4 columns">
              <input type="text" ng-model="searchName" placeholder="Search name, description...">
            </div>
            
            <div class="large-3 columns">
              <input type="text" ng-model="searchLangInput" id="searchLang" placeholder="Languages">
            </div>
            
            <div class="large-3 columns">
              <input type="text" ng-model="searchOrgInput" id="searchOrg" placeholder="Organisations">
            </div>
            
            <div class="star large-2 columns">
                <a ng-show="filterStarIndex" ng-click="majFilterStar(0); majDisplayStar(0)" class="button tiny cancel">X</a>
                <div class="fitlerStar" ng-repeat="i in [1,2,3,4,5]" ng-class="{on: (i <= displayStarIndex)}" ng-click="majFilterStar(i)" ng-mouseenter="majDisplayStar(i)" ng-mouseleave="majDisplayStar(filterStarIndex)"></div>
            </div>
        </form>
                    
        <div ng-show="searchLang.length != 0 || searchOrg.length != 0 || searchName">
            <div class="large-12 columns activeFilter">
                <ul class="button-group filterLang" ng-repeat="lang in searchLang">
                    <li><a class="button tiny"># {{lang}}</a></li>
                    <li><a class="button tiny" ng-click="deleteFilter(searchLang, $index)">X</a></li>
                </ul>
                <ul class="button-group filterLang" ng-repeat="org in searchOrg">
                    <li><a class="button tiny">{{org}}</a></li>
                    <li><a class="button tiny" ng-click="deleteFilter(searchOrg, $index)">X</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>   