<a href="{{project | linkProject}}" target="_blank">
    <section class="project">
        <div class="row">
            <div class="large-6 columns">
                <h1>{{project.name}}</h1>
            </div>
            <div class="large-6 columns">
                <div class="star right" ng-repeat="i in [0,1,2,3,4]">
                    <img ng-src="img/star_{{ { id: 4-i, value: project.watchers_count} | star}}.svg" />
                </div>
                    
                <div class="watchCount">{{project.watchers_count | niceNum}}</div>
            </div>
        </div>
        <div class="row">
            <p class=" large-6 columns"><span ng-repeat="language in Object.keys(project.languages)" ng-hide="Math.floor( project.languages[language].value * 100 / project.languagesTotal ) < 10 ">{{project.languages[language].name}}<span ng-hide="$last">, </span></span><span ng-hide="project.languages.length != 0">Unknown</span></p>
            <p class=" large-6 columns text-right">{{project.org}}</p>
        </div>
        <p class="details">{{project.description | shortenStr}}</p>
        <div class="row more">
            <p class="details large-6 columns"><strong>Last pushed:</strong> {{project.pushed_at | timeDiff }}</p>
            <p class="link large-6 columns">View on Github ></p>
        </div>
    </section>
</a>
