

//Foundation override
$primary-color: rgb(255,0,0);
$secondary-color-alpha: rgba(233,233,233,0.8);
//Personnal variables
$header-height: 350;
$menu-height: 50;
$menu-font-size: 20;

$body-font-family: 'Open Sans', Cambria, 'Times New Roman', Times, sans-serif !default;
$header-font-family: 'Open Sans', Cambria, 'Times New Roman', Times, sans-serif !default;

    

// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";
@import "compass/css3";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";


//---------------------------------------------------------------------------------
//                          Headers
//---------------------------------------------------------------------------------

.header {
    background: $secondary-color;
    position: fixed; top: $menu-height+px; left: 0;
    height: $header-height+px; width: 100%;
    overflow: hidden;
	
	.dots {
        bottom: 65px;
	}
	
	.logo.original {
		top: -70px;
	}
}

.header_inline {
    background: $secondary-color;
    height: ($header-height - $menu-height)+px; 
    overflow: hidden; position: relative;
	
	.dots {
        bottom: 15px;
	}
	
	.logo.original {
		top: 10px;
	}
}
    
.header, .header_inline {
    .wrapper {
        position: absolute; z-index: 99;
        left:100%;
		overflow: hidden;
        @include transition(left 0.5s);
        background: $secondary-color;
        width: 100%; height: $header-height+px;
        
        &.actual { left: 0; }

		&>.row {
			position: relative;
			height: ($header-height - $menu-height)+px;
		}
        
        .text-header  {
            position: absolute;
			bottom: 0px;
			padding-bottom: 20px;
			z-index: 50;
            background: $secondary-color-alpha;
        }
    
        h3 { 
            margin: 0;
        }
        
        .details {
            color: #888;
            
            a {
                font-size: 13px;
            }
        }
        
        .logo {
            position: absolute; 
			margin-left: 10%;
            
            &.original {
                width: 80%;
            }
        }
    }
    
    .dots {
        position: absolute; z-index: 500;
        left: 50%;
        
        .dot {
            width: 10px; height: 10px;
            border-radius: 5px;
            margin: 0 5px;
            background: darken($secondary-color, 20);
            float: left;
            
            &.actual, &:hover {
                background: $primary-color;
            }
        }
    }
    
    $arrow-size: 12;    
    .prev, .next {
        
        width: 30px; height: 50px;
        background: $primary-color;
        position:absolute; z-index: 999;
        overflow: hidden;
        cursor: pointer;
        top: (($header-height - 110)/2)+px;
        
        &:before, &:after {
            content: "";
            width: 0; height: 0;
            position: absolute; top: 14px;
            border-top: $arrow-size+px solid transparent;
            border-bottom: $arrow-size+px solid transparent;
        }
    }
    
    .prev {
        left: 0;
        
        &:before {
            left: 6px;
            border-right: $arrow-size+px solid white;
        }
        
        &:after {
            left: 12px;
            border-right: $arrow-size+px solid $primary-color;
        }
    
    }
    .next {
        right: 0;
        
        &:before {
            right: 6px;
            border-left: $arrow-size+px solid white;
        }
        
        &:after {
            right: 12px;
            border-left: $arrow-size+px solid $primary-color;
        }
    }
}


//---------------------------------------------------------------------------------
//                          Footer
//---------------------------------------------------------------------------------

.footer {
    background: $secondary-color;
    height: ($header-height - $menu-height)+px; 
    overflow: hidden; position: relative;
    
    &>div { position: relative; }
    
    h3 { 
        padding-top: 150px;
        margin: 0;
    }
    
    .details {
        color: #888;
        
        a {
            font-size: 13px;
        }
    }
    
    .logo {
        position: absolute; 
        
        &.original {
            width: 400px; height: 400px;
            bottom: 0px; right:25%;
        }
    }
}

//---------------------------------------------------------------------------------
//                          Menu
//---------------------------------------------------------------------------------

.menu {
    height: $menu-height+px; width: 100%;
    background: white;
    position: fixed; top: 0;
    z-index: 999;
    
    .sub-nav {
        font-size: $menu-font-size+px; color: black;
        background: white;
		
		.menuLinks {
			height: 0px;
			@include transition(height 0.2s);
			overflow: hidden;
			clear: both;
		}
		
		&.more .menuLinks {
			height: 100px;
	
			dd {
				clear: both;
			}
		}
        
        dd:not(.title) {
            padding: 0px 10px;
            cursor: pointer;
        
            a {
                color: black;
                font-size: 15px;
                @include transition(all 0.1s);
            }
            
            &.active a, &:hover a {
                @include border-radius(0px);
                font-weight: normal; color: red;
                background: none; border-bottom: red 3px solid;
                padding: 0.1875em 0;
                cursor: default;
            }
        }
    }
    
    .wrapLogoTop {
        position: absolute; top: -10px; right: 20px;
        overflow: hidden; height: 100px;
        @include transition(height 0.2s);
    }
    
    .logoTop {
        width: 45px;
    }
}

//[data-magellan-expedition] { background: white !important; }

.menu-icon {
	display: block;
	float: left;
	width: 16px;
	height: 30px;
	margin-right: 10px;
	
	span { 
		display: block;
		width: 100%;
		height: 0;
		@include box-shadow(0 10px 0 1px $primary-color, 0 16px 0 1px $primary-color, 0 22px 0 1px $primary-color);
	}
}

.title {
    font-family: "tekton-pro";
    font-size: 24px;
	font-weight: 700 !important;
    margin: 3px 30px 3px 20px;
    
    strong {
        color: $primary-color;
    }
}

//---------------------------------------------------------------------------------
//                          Main
//---------------------------------------------------------------------------------

.main {
    background: #fff;
    position: relative;
    margin-top: 0;
    &.top { margin-top: $header-height+px; }
    padding: 30px 0;
    
    h2 {
        font-weight: normal;
    }
    
    .topProject {
        h2, form {
            margin-bottom: 0;
        }
    }
    
    .mainFilters {
        margin-top: 15px;
        
        .button {
            padding: 6px 3px 4px;
            svg {
                width: 19px; height: 19px;
                
                path { fill: #fff; }
            }
        }
    }
    
    .filters {
        &.flat {
            height: 0px;
            margin-bottom: 0px;
        }
        
        margin-bottom: 10px;
        background: #e9e9e9;
        width: 100%; // height: 65px;
        overflow: hidden;
        
        .star {
            .fitlerStar {
                width: 21px; height: 21px;
                margin-top: 5px;
                background: url("../img/star_off.svg") top left no-repeat;
                background-size: 21px 21px;
                float: left;
                
                &:hover, &.on { background-image: url("../img/star_on.svg"); }
            }
        }
        
        .activeFilter {
            margin: -10px 0.9375em 15px;
            
            .filterLang {
                margin-right: 10px;
                display: inline-block;
                
                .button {
                    margin-bottom: 0px;
                }
            }
        }
    }
    
    .autocomplete {
        width: 100%;
        position: absolute;
        top: 146px;
        z-index: 999;
        
        .wrapperLang {
        
            .items {
                &:first-child { padding-left: 6px; }
                padding-left: 17px;
                
                .item {
                    padding: 10px 20px;
                    display: block;
                    border: {
                        bottom: $secondary-color 1px solid;
                        left: $secondary-color 1px solid;
                        right: $secondary-color 1px solid;
                    }
                    color: #333;
                    
                    background: white;
                    
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

	.wrapProjects {
		padding-bottom: 50px;
		position: relative;
	}
        
    .project, .org {
        font-size: 14px;
        border-left: 3px $secondary-color solid;
        @include transition(border-left 0.2s);
        padding-left: 20px;
        color: black;
        
        margin: 10px 0; 
        
        &:hover {
            border-left: 3px $primary-color solid;
        }
        
        h1 {
            font-size: 17px;
            margin-bottom: 3px;
        }
        
        p { margin-bottom: 5px; }
        
        .details {
            height: 45px;
            padding-left: 10px;
            color: #666;
        }
    
        .star img { width: 20px; }
        
        .watchCount {
            padding: 5px 10px;
            float: right;
            color: #666;
        }
        
        .more {
            margin-bottom: 25px;
    
            .link {
                text-align:right;
                color: $primary-color;
                
                &:hover { color: darken($primary-color, 5%); }
            }
        }
    }
    
    .project { height: 140px; }
    .org { height: 100px; }

	.buttonMore, .buttonLess {
		width: 100%;
		height: 100px;
		overflow: hidden;
	}
    
    .buttonMore {
		position: fixed;
		bottom: 0px;
		left: 0;
    }
	
	.buttonLess {
		bottom: -50px;
		position: absolute;
	}
    
    .clear {
        clear: both;
    }
}


/* For reseting magellan on top :) */
.featured {
    position: absolute; top: 0;
    margin-top: - ($header-height -$menu-height)+px; display: block;
}